<% var yuidoc = get_current_yuidoc(); %>
<aside id="sidebar">
  <strong class="sidebar-title">Modules</strong>
  <a href="<%- url_for('api/modules/Fire.html') %>" class="sidebar-link<% if (page.yuidoc_name === 'index'){ %> current<% } %>">Fire</a>
  <a href="<%- url_for('api/modules/Reserved-Words.html') %>" class="sidebar-link<% if (page.yuidoc_name === 'warehouse'){ %> current<% } %>">Reserved Words</a>
  <strong class="sidebar-title">Classes</strong>
    <a href="<%- config.root%><%- _.find(yuidoc.classes, {'name': 'Fire'}).path %>" class="sidebar-link"><%- _.find(yuidoc.classes, {'name': 'Fire'}).name %></a>
  <% _.each(yuidoc.classes, function(obj){ %>
    <% if (obj.name !== 'Fire') { %>
    <a href="<%- url_for(obj.path) %>" class="sidebar-link<% if (is_current(obj.path)){ %> current<% } %>"><%= obj.name %></a>
    <% } %>
    <% }) %>
  <strong class="sidebar-title">Members</strong>
    <% if (page.properties) {%>
    <% _.each(page.properties, function(obj){ %>
    <a href="<%- url_for(obj.path) %>" class="sidebar-link<% if (is_current(obj.path)){ %> current<% } %>"><%= obj.name %></a>
    <% }) %>
    <% } %>
    <% if (page.methods) {%>
    <% _.each(page.methods, function(obj){ %>
    <a href="<%- url_for(obj.path) %>" class="sidebar-link<% if (is_current(obj.path)){ %> current<% } %>"><%= obj.name %></a>
    <% }) %>
    <% } %>
    <% if (page.events) {%>
    <% _.each(page.events, function(obj){ %>
    <a href="<%- url_for(obj.path) %>" class="sidebar-link<% if (is_current(obj.path)){ %> current<% } %>"><%= obj.name %></a>
    <% }) %>
    <% } %>
</aside>

